.edit-coupon {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}

.editcoupon-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.editcoupon-itemfield {
    width: 100%;
    margin-bottom: 20px;
    color: #7b7b7b;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.editcoupon-itemfield label {
    margin-bottom: 8px;
    font-weight: 500;
}

.editcoupon-itemfield input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 28px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider:before {
    transform: translateX(22px);
}


.editcoupon-btn {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #f06f05;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.editcoupon-btn:hover {
    background-color: #ce5e02;
}

@media (max-width: 800px) {
    .edit-coupon {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}